<div class="home">
  <div class="header">
    <nav class="nav">
      <a href="/"><img class="nav__logo" src="assets/png/logo.png" alt="Keyway"/></a>
      <button class="snipcart-checkout">
        View cart
      </button>
    </nav>
  </div>
  <div class="container">
    <div class="menu">
      <app-menu></app-menu>
    </div>
    <div class="content">
      <div class="slider">
        Le slider
      </div>
      <div class="articles">
        <app-products-list></app-products-list>
      </div>
    </div>
  </div>
</div>
