.home{
    display: flex;
    flex-direction: column;
}

.header{
    background-color: blueviolet;
    height: 10vh;
}

.container{
    display: flex;
    flex-direction: row;
}

.content{
    display: flex;
    flex-direction: column;
    flex-grow: 5;
    background-color: rgb(255, 255, 255);
}

.menu{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    background: rgb(8, 30, 129);
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    top: 10px;
    right: 20px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    //transition: all 0.3s;

    //width: 250px;
    //position: fixed;
    //top: 0;
    //left: -250px;
    //height: 100vh;
    z-index: 999;
    //background: #7386D5;
    //color: #fff;
    transition: all 0.3s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

    
    
   
}

